<form action="/validateUser" method="POST">
    <input type="text" name="login" value="<%= JSON.parse(userData).login %>" style="display: none;">
    <input type="text" name="password" value="<%= JSON.parse(userData).password %>" style="display: none;">
    <input type="submit" value="Обновить">
</form>
Данные пользователя:
<div id="userData"><%= userData %></div>
<script>
    let userData = JSON.parse(document.getElementById('userData').textContent);
</script>
<br>
Список доступных комнат:
<ul id="accessible_rooms">
    <% Rooms.forEach(function(room){ %>
        <li>
            <form action="/room" method="post">
                <input type="text" name="userData" value="<%= userData %>" style="display: none;">
                <input type="submit" name="roomName" value="<%= room %>">
            </form>
        </li>
    <% }); %>
</ul>
<br>
<input type="text" id="NameOfNewRoom">
<button onclick="CreateNewRoom('http://localhost:4000/createNewRoom')">Создать новую комнату</button>
<script>
    async function CreateNewRoom(url){
        let name = document.getElementById("NameOfNewRoom").value
        console.log('name', name);
        console.log('id_admin', userData.id);
        if (name != '') {
            const response = await fetch(url, {
                method: 'POST',
                body: JSON.stringify({
                    name: name,
                    id_admin: userData.id
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const result = await response.json();
            let li = document.createElement('li');
            let form = document.createElement('form');
            form.action = "/room";
            form.method = "POST";

            let f_input = document.createElement('input');
            f_input.type = "text";
            f_input.name = "userData";
            f_input.setAttribute("value", JSON.stringify(userData));
            f_input.style.display = "none";
            
            let s_input = document.createElement('input');

            s_input.type = "submit"
            s_input.name = "roomName"
            s_input.value = result.data;

            form.appendChild(f_input);
            form.appendChild(s_input);

            li.appendChild(form);
            document.getElementById('accessible_rooms').appendChild(li);
        }
    }
</script>